#register-container {
    display: flex;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(/register.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    

}
